.leaflet-container {
    width: 100%;
    height: 100vh;
}

.float-right {
    float: right;
}

.clickable {
    cursor: pointer;
    color: grey;
}

.selected {
    cursor: pointer;
    color: white;
    background-color: grey;
}

.segmentButton {
    border: solid 1px grey;
    border-radius: 5px;
    margin: 5px;
}

.slider {
    width: 100%;
    height: 20px
  }

.slider:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #69707A;
    top: 8px;
}

.handle {
    background-color: black;
    height: 15px;
    width: 5px;
}

.is-flex {
    display: flex;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.editable-point {
    background-color: white;
    border-radius: 50%;
    width: 24px !important;
    height: 24px !important;
    font-size: 20px !important;
    padding: 2px;
    border-width: 5px;
    border-style: solid;
  }
  .new-editable-point {
    border-width: 0;
    opacity: 0.7;
  }
  .border-color-a6cee3 {
    border-color: #a6cee3;
  }
  .border-color-1f78b4 {
    border-color: #1f78b4;
  }
  .border-color-b2df8a {
    border-color: #b2df8a;
  }
  .border-color-33a02c {
    border-color: #33a02c;
  }
  .border-color-fb9a99 {
    border-color: #fb9a99;
  }
  .border-color-e31a1c {
    border-color: #e31a1c;
  }
  .border-color-fdbf6f {
    border-color: #fdbf6f;
  }
  .border-color-ff7f00 {
    border-color: #ff7f00;
  }
  .border-color-cab2d6 {
    border-color: #cab2d6;
  }
  .border-color-6a3d9a {
    border-color: #6a3d9a;
  }
  .border-color-ffff99 {
    border-color: #ffff99;
  }
  .border-color-b15928 {
    border-color: #b15928;
  }